<div class="modal-body">
    <div class="modal-form">
        <form class="form-inline" name="createForm" novalidate>
            <fieldset ng-disabled="saving">
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error': createForm.game.$invalid&&createForm.game.$touched, 'has-success' : createForm.game.$valid}">
                            <div class="input-group">
                              <input
                                name="game"
                                type="text"
                                ng-model="newPlayDate.game"
                                ng-model-options="{ updateOn: 'default keyup blur' }"
                                typeahead="game as game.label for game in getSteamgame($viewValue)"
                                typeahead-editable="'false'"
                                game-validator
                                class="form-control"
                                placeholder="Steamgame?">
                                <span class="input-group-addon">
                                    <span class="fa fa-gamepad"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': createForm.geoRegion.$invalid&&createForm.geoRegion.$touched, 'has-success' : createForm.geoRegion.$valid}">
                            <div class="input-group">
                              <input
                                name="geoRegion"
                                type="text"
                                ng-model="newPlayDate.geoRegion"
                                ng-model-options="{ updateOn: 'default keyup blur' }"
                                typeahead="region as region.label for region in getRegion($viewValue)"
                                typeahead-editable="'false'"
                                region-validator
                                class="form-control"
                                placeholder="Your timezone?">
                                <span class="input-group-addon">
                                    <span class="fa fa-globe"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error': createForm.name.$invalid&&createForm.name.$touched, 'has-success' : createForm.name.$valid}">
                            <div class="input-group">
                              <input
                                required
                                type="text"
                                class="form-control"
                                ng-model="newPlayDate.name"
                                name="name"
                                placeholder="Your (ingame) Name?">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': createForm.email.$invalid&&createForm.email.$touched, 'has-success' : createForm.email.$valid}">
                            <div class="input-group">
                              <input
                                required
                                type="email"
                                class="form-control"
                                ng-model="newPlayDate.email"
                                ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
                                name="email"
                                placeholder="Your e-mail?">
                                <span class="input-group-addon">
                                    <span class="fa fa-at"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-form">
                    <div class="row">
                        <div class="form-group col-md-12 mt-5"
                            ng-class="{'has-error': createForm.additional.$invalid&&createForm.additional.$touched, 'has-success' : createForm.additional.$valid}">
                            <div class="input-group">
                                <textarea
                                    required
                                    class="form-control"
                                    placeholder = "Additional Info?"
                                    ng-model="newPlayDate.description"
                                    name="additional"
                                    cols="80"
                                    rows="4">
                                </textarea>
                                <span class="input-group-addon">
                                    <span class="fa fa-info mt-5"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-header">
    <div class="messages" ng-repeat="(attr, messages) in validateAttributes">
        <div class="message row bg-danger"   ng-repeat="(err, msgs) in messages">
            <div class="cases col-sm-10 col-sm-offset-1" ng-repeat="(errAttr, value) in createForm[err].$error" ng-show="value&&createForm[err].$touched">
                {{msgs[errAttr]}}
            </div>
        </div>
    </div>
    <div class="row bg-info clickable" ng-if="searchQuery">
        <div class="col-sm-10 col-sm-offset-1" ng-click="goToSearch()">
            There are PlayDates that match your game and timezone. Click here if you want to show them instead of adding a new Playdate.
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="createForm.$pristine" ng-click="save()">Save <span class="fa fa-save"></span></button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel <span class="fa fa-close"></span> </button>
</div>
