<div class="container-fluid" ng-controller="HeaderCtrl as header">
    <div id="topanchor"></div>
    <div id="header" class="navbar navbar-fixed-top hidden-lg" >
        <div class="navbar-inner">
            <div class="col-md-2 col-xs-8 col-sm-2">
                <a class="navbar-brand" id="header-brand" href="/" ng-click="header.resetSearch()"><span class="bigfont orange">Play</span><span class="bigfont">Date</span></a>
            </div>
            <!-- mobile form -->
            <form
                headroom classes='{"initial":"animated","pinned":"headroom-pinned","unpinned":"headroom-unpinned"}'
                tolearance="100"
                offset="100"
                class="form-animate hidden-sm hidden-xl hidden-lg hidden-md" id="search-form-mobile">
                <div class="row search-row">
                    <div class="col-xs-12 form-group">
                        <div
                            class="btn-group btn-block"
                            dropdown is-open="status.isopen" ng-if="!header.search.platform">
                            <a class="btn btn-block btn-primary dropdown-toggle" dropdown-toggle>
                            <span translate="HEADER.FILTER_PLATFORM"></span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="platform in header.platforms">
                                    <a href ng-click="header.search.platform=platform">{{::platform.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="input-group input-group-sm" ng-if="header.search.platform">
                          <input
                            type="text"
                            ng-model="header.search.game"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="game as game.label for game in header.getGame($viewValue, header.search.platform.apiName)"
                            class="form-control input-sm"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_GAME' | translate:{platform: header.search.platform.name} }}">
                            <span class="input-group-addon">
                                <span class="fa fa-gamepad"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="input-group input-group-sm">
                          <input
                            type="text"
                            ng-model="header.search.geoRegion"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="region as region.label for region in header.getRegion($viewValue)"
                            class="form-control input-sm"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_TIMEZONE' | translate }}">
                            <span class="input-group-addon">
                                <span class="fa fa-globe"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-3 col-xs-12">
                        <div class="input-group input-group-sm">
                          <input
                            type="text"
                            ng-model="header.search.preferences.language"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="language as language.label for language in header.getLanguage($viewValue)"
                            class="form-control input-sm"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_LANGUAGE' | translate }}">
                            <span class="input-group-addon">
                                <span class="fa fa-language"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- desktop form -->
            <form class="form-inline col-md-9 col-sm-9 mt-10 pull-right hidden-xs" id="search-form">
                <div class="row search-row">
                    <div class="col-md-4 col-sm-3 col-xs-12 form-group">
                        <div
                            class="hidden-sm btn-group"
                            dropdown is-open="status.isopen" ng-if="!header.search.platform">
                            <a class="btn btn-primary dropdown-toggle" dropdown-toggle>
                            <span translate="HEADER.FILTER_PLATFORM"></span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="platform in header.platforms">
                                    <a href ng-click="header.search.platform=platform">{{::platform.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div
                            class="hidden-lg hidden-md hidden-xs btn-group"
                            dropdown is-open="status.isopen" ng-if="!header.search.platform">
                            <a class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                            <span translate="HEADER.FILTER_PLATFORM"></span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="platform in header.platforms">
                                    <a href ng-click="header.search.platform=platform">{{::platform.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="input-group" ng-if="header.search.platform">
                          <input
                            type="text"
                            ng-model="header.search.game"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="game as game.label for game in header.getGame($viewValue, header.search.platform.apiName)"
                            class="form-control"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_GAME' | translate:{platform: header.search.platform.name} }}">
                            <span class="input-group-addon">
                                <span class="fa fa-gamepad"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-3 col-md-offset-0 col-sm-offset-2 col-xs-12">
                        <div class="input-group">
                          <input
                            type="text"
                            ng-model="header.search.geoRegion"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="region as region.label for region in header.getRegion($viewValue)"
                            class="form-control"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_TIMEZONE' | translate }}">
                            <span class="input-group-addon">
                                <span class="fa fa-globe"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-3 col-xs-12">
                        <div class="input-group">
                          <input
                            type="text"
                            ng-model="header.search.preferences.language"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="language as language.label for language in header.getLanguage($viewValue)"
                            class="form-control"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_LANGUAGE' | translate }}">
                            <span class="input-group-addon">
                                <span class="fa fa-language"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="visible-lg">
        <div class="col-md-2 sidebar">
            <div class="row" >
                <div class="col-md-2 col-xs-8 col-sm-2">
                    <a class="navbar-brand" id="header-brand" href="/" ng-click="header.resetSearch()">
                        <span class="bigfont orange">Play</span><span class="bigfont">Date</span>
                    </a>
                </div>
                <!-- desktop form -->
            </div>
            <form class="form row" id="search-form">
                <div class="col-md-12">
                    <div class="row form-group">
                        <div
                            class="hidden-sm btn-group"
                            dropdown is-open="status.isopen" ng-if="!header.search.platform">
                            <a class="btn btn-primary dropdown-toggle" dropdown-toggle>
                            <span translate="HEADER.FILTER_PLATFORM"></span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="platform in header.platforms">
                                    <a href ng-click="header.search.platform=platform">{{::platform.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="input-group" ng-if="header.search.platform">
                          <input
                            type="text"
                            ng-model="header.search.game"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="game as game.label for game in header.getGame($viewValue, header.search.platform.apiName)"
                            class="form-control"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_GAME' | translate:{platform: header.search.platform.name} }}">
                            <span class="input-group-addon">
                                <span class="fa fa-gamepad"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group">
                          <input
                            type="text"
                            ng-model="header.search.geoRegion"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="region as region.label for region in header.getRegion($viewValue)"
                            class="form-control"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_TIMEZONE' | translate }}">
                            <span class="input-group-addon">
                                <span class="fa fa-globe"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group">
                          <input
                            type="text"
                            ng-model="header.search.preferences.language"
                            ng-model-options="{ updateOn: 'default keyup blur' }"
                            typeahead="language as language.label for language in header.getLanguage($viewValue)"
                            class="form-control"
                            typeahead-editable="'false'"
                            placeholder="{{ 'HEADER.FILTER_LANGUAGE' | translate }}">
                            <span class="input-group-addon">
                                <span class="fa fa-language"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row pt20">
                <div class="btn btn-default col-lg-10 col-lg-offset-1" ng-click="header.openCreateModal(header.search)">
                    <span><i class="fa fa-plus"></i> {{ 'HEADER.ADD_PLAYDATE' | translate }}</span>
                </div>
            </div>
            <div class="row pt20">
                <div class="btn btn-default col-lg-10 col-lg-offset-1" ng-click="header.twitterLink()">
                    <span><i class="fa fa-twitter"></i> Twitter</span>
                </div>
            </div>
        </div>
    </div>
</div>