<div id="header" class="navbar navbar-default" ng-controller="HeaderCtrl as header">
    <div class="navbar-inner">
        <div class="col-md-1 col-xs-12 col-sm-3">
              <div><a class="navbar-brand" id="header-brand" href="/"><span class="bigfont orange">Play</span><span class="bigfont">Date</span></a></div>
        </div>
        <form class="form-inline col-md-8 col-md-offset-5 col-sm-8 mt-10 pull-right" id="search-form">
            <div class="row search-row" >
                <div class="form-group col-md-3 col-sm-6 col-xs-12">
                    <div class="input-group">
                      <input
                        type="text"
                        ng-model="header.search.game"
                        typeahead="game as game.label for game in header.getSteamgame($viewValue)"
                        class="form-control"
                        typeahead-editable="'false'"
                        typeahead-append-to-body="true"
                        placeholder="Steamgame?">
                        <span class="input-group-addon">
                            <span class="fa fa-gamepad"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6 col-xs-12" ng-show="!header.formShown">
                    <div class="input-group">
                      <input
                        type="text"
                        ng-model="header.search.geoRegion"
                        typeahead="region as region.label for region in header.getRegion($viewValue)"
                        class="form-control"
                        typeahead-append-to-body="true"
                        typeahead-editable="'false'"
                        placeholder="Your timezone?">
                        <span class="input-group-addon">
                            <span class="fa fa-globe"></span>
                        </span>
                    </div>
                </div>
                <div
                    class="btn btn-default mt-5 col-md-2 col-sm-5 col-xs-12"
                    ng-click="header.doSearch()" ng-show="!header.formShown">
                    <span>Search</span>
                    <span class="fa fa-search"></span>
                </div>
                <div
                    class="btn btn-primary mt-5 mb-5 pull-right col-md-3 col-sm-6 col-xs-12"
                    style="margin-bottom: 5px;"
                    ng-click="header.openCreateModal(header.search)">
                    <span>Add PlayDate</span>
                    <span class="fa fa-plus"></span>
                </div>
            </div>
        </form>
    </div>
</div>