<div class="container-fluid" id="main">
    <div class="messages row">
        <div ng-repeat="message in main.flashMessage.messages" class="message col-sm-12">
            <div class="alert alert-{{::message.type}}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                <p ng-bind="message.title"></p>
            </div>
        </div>
    </div>
    <div
        id="masonry-container"
        class="row"
        masonry="{ transitionDuration: '0' }"
        preserve-order
        infinite-scroll='main.searchService.loadMore()'
        infinite-scroll-disabled='main.searchService.isLoading || main.searchService.finished'
        infinite-scroll-distance='1'>
        <div ng-repeat="playdate in main.searchService.results track by playdate._id" class="masonry-brick col-xs-12 col-md-3 col-sm-4">
            <div class="panel panel-default possibly-long-text playdate-item">
                <!-- item head -->
                <div class="panel-heading clearfix">
                    <h6 class="panel-title pull-left" translate="MAIN.HEADLINE" translate-values="{username : playdate.name, platform: main.getPlatformPrettyName(playdate.platform)}">
                    </h6>
                </div>
                <a ng-href="{{::playdate.detail_url}}" target="_blank">
                    <div ng-class="{'steam-image': playdate.platform=='steam', 'console-image': playdate.platform!='steam'}" class="tb-shadow panel-content" back-img="{{::playdate.game.image_url}}">
                        <img class="item-image tb-shadow"
                            style="visibility:hidden"
                            ng-src="{{::playdate.game.image_url}}" alt="no image"
                            err-src="{{'http://placehold.it/460x215/f5f5f5&text='+playdate.game.label}}">
                    </div>
                </a>
                <!-- item footer -->
                <div class="panel-footer">
                    <div class="item-footer" style="word-wrap: break-word">
                        <dl>
                            <dt><span class="fa fa-gamepad pr-5"></span>{{::playdate.game.label}}</dt>
                            <dd>{{::playdate.description}}</dd>
                            <dt><span class="fa pr-5 fa-globe"></span><span translate="MAIN.TIMEZONE"></span></dt>
                            <dd>{{::playdate.geoRegion.label}}</dd>
                            <dt ng-if="playdate.preferences && playdate.preferences.language"><span class="fa pr-5 fa-language"></span><span translate="MAIN.LANGUAGE"></span></dt>
                            <dd>{{::playdate.preferences.language.label}}</dd>
                            <dt ng-if="playdate.preferences && (playdate.preferences.microphone || playdate.preferences.group)"
                                translate="MAIN.PREFERENCES"></dt>
                            <dd>
                                <span ng-if="playdate.preferences.group"><i class="fa pr-5 fa-group"></i> <span translate="MAIN.GROUP"></span></span>
                            </dd>
                            <dd>
                                <span ng-if="playdate.preferences.microphone"><i class="fa pr-5 fa-microphone"></i> <span translate="MAIN.MIC"></span></span>
                            </dd>
                        </dl>
                        <div class="row">
                            <button
                                    ng-click="main.openMessage(playdate._id)"
                                    type="button" class="btn btn-primary btn-block"
                                    translate="MAIN.MESSAGE"
                                    translate-values="{username : playdate.name}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /item list -->
</div>
<div id="footer" class="container-fluid">
    <div class="row">
        <div class="col-md-3 pull-right">
            <a href="/tos" class="btn btn-xs pull-right">read the TOS and site notice</a>
        </div>
    </div>
</div>