<div class="container-fluid" id="main">
    <div id="masonry-container" class="row" masonry>
        <div ng-repeat="playdate in main.data.playdates track by $index" class="masonry-brick col-xs-12 col-md-3 col-sm-4">
            <div class="panel panel-default">
                <!-- item head -->
                <div class="panel-heading clearfix">
                    <h6 class="panel-title pull-left">
                        {{playdate.name}} would like to play
                    </h6>
                </div>
                <div class="tb-shadow panel-content" ng-style='{{{"background-image": playdate.game.image_url}}}'>
                    <!-- item content/image -->
                    <a href="http://store.steampowered.com/app/{{playdate.game.value}}/" target="_blank">
                        <img class="item-image"
                        style="visibility:hidden"
                        ng-src="{{playdate.game.image_url}}" alt="no image"
                        err-src="{{'http://placehold.it/460x215/f5f5f5&text='+playdate.game.label}}">
                    </a>
                </div>
                <!-- item footer -->
                <div class="panel-footer">
                    <div class="item-footer" style="word-wrap: break-word">
                        <dl>
                            <dt>Message</dt>
                            <dd>{{playdate.description}}</dd>
                            <dt>Timezome</dt>
                            <dd>{{playdate.geoRegion.label}}</dd>
                        </dl>
                        <div class="row">
                            <button ng-click="main.openModal(playdate)" type="button" class="btn btn-primary btn-block">Message {{playdate.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /item list -->
</div>
<div id="footer" class="container-fluid">
    <div class="row">
        <div class="col-md-3 pull-right">
            <a href="/#/tos" class="btn btn-xs pull-right">read the TOS</a>
        </div>
    </div>
</div>