<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
		<p class="allcaps">
			<h4 translate="MAIN.MESSAGE"
				translate-values="{username : playdate.name}">
			</h4>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 well">
		<div class="row">
			<div class="col-md-7 col-xs-12">
		        <img class="modal-image"
		            ng-src="{{::playdate.game.image_url}}" alt="no image"
		            err-src-modal="{{'http://placehold.it/460x215/f5f5f5&text='+playdate.game.label}}">
			</div>
			<div class="col-md-5 col-xs-12">
		        <div class="item-footer" style="word-wrap: break-word">
		            <dl>
		                <dt><span class="fa fa-user pr-5"></span>{{::playdate.name}}</dt>
		                <dt><span class="fa fa-gamepad pr-5"></span>{{::playdate.game.label}}</dt>
		                <dd>{{::playdate.description}}</dd>
		                <dt><span class="fa pr-5 fa-globe"></span><span translate="MAIN.TIMEZONE"></span></dt>
		                <dd>{{::playdate.geoRegion.label}}</dd>
		                <dt ng-if="playdate.preferences && playdate.preferences.language"><span class="fa pr-5 fa-language"></span><span translate="MAIN.LANGUAGE"></span></dt>
		                <dd>{{::playdate.preferences.language.label}}</dd>
		                <dt ng-if="playdate.preferences && (playdate.preferences.microphone || playdate.preferences.group)"
		                    translate="MAIN.PREFERENCES"></dt>
		                <dd>
		                    <span ng-if="playdate.preferences.group"><i class="fa pr-5 fa-group"></i> <span translate="MAIN.GROUP"></span></span>
		                </dd>
		                <dd>
		                    <span ng-if="playdate.preferences.microphone"><i class="fa pr-5 fa-microphone"></i> <span translate="MAIN.MIC"></span></span>
		                </dd>
		            </dl>
		        </div>
			</div>
		</div>
	</div>
</div>
<div class="modal-header" ng-class="{'bg-danger': errorMessage}" ng-bind="errorMessage">
</div>
<div class="modal-body">

	<div class="modal-form">
		<form name="messageForm" novalidate>
			<fieldset>
	            <div class="form-group">
	                <div class="input-group" ng-class="{'has-error': messageForm.email.$error.required&&messageForm.email.$dirty}">
	                  	<input
		                    type="email"
		                    ng-model="message.email"
		                    class="form-control"
		                    placeholder="Your E-Mail"
		                    required>
	                    <span class="input-group-addon">
	                        <span class="fa fa-at"></span>
	                    </span>
	                </div>
	                <div class="input-group mt-5" ng-class="{'has-error': messageForm.name.$error.required&&messageForm.name.$dirty}">
	                  	<input
		                    type="text"
		                    ng-model="message.name"
		                    class="form-control"
		                    placeholder="Your (ingame) name"
		                    required>
	                    <span class="input-group-addon">
	                        <span class="fa fa-user"></span>
	                    </span>
	                </div>
	                <div class="input-group mt-5" ng-class="{'has-error': messageForm.content.$error.required&&messageForm.content.$dirty}">
	                    <textarea
	                        class="form-control"
	                        placeholder = "Your message to {{message.to}}"
	                        ng-model="message.content"
	                        cols="80"
	                        rows="4"
	                        required>
	                    </textarea>
	                    <span class="input-group-addon">
	                        <span class="fa fa-info"></span>
	                    </span>
	                </div>
	            </div>
			</fieldset>
		</form>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="send()">Send <span class="fa fa-send"></span> </button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel <span class="fa fa-close"></span> </button>
</div>
