<div class="container-fluid" id="presskit">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-3 col-md-12 paper-page">
				<h1>Press</h1>
				<p>On this site you will find images, press releases, and further information about find-PlayDate</p>

				<h4>What is this?</h4>
				<p>A website where gamers can find new Friends to play multiplayer games with! It supports a wide variety of platforms ranging from 3DS to PlayStation4, from PsVita to Steam.
				Your friends sometimes don't have time to play online games with you, or don't own the games you want to play? This website can help!</p>
				<h4>Core Features</h4>
				<div class="row">
					<div class="col-lg-11 col-lg-offset-1 col-xs-10 col-xs-offset-1">
						<ul>
							<li>Filter all posts by platform, name of the game, timezone and language.</li>
							<li>Easily set up a new PlayDate - no signup required.</li>
							<li>NO SIGNUP REQUIRED - all messaging is done via E-Mail.</li>
						</ul>
					</div>
				</div>
				<h4>How does it work?</h4>
				<div class="row">
					<div class="col-lg-11 col-lg-offset-1 col-xs-10 col-xs-offset-1">
						<ol>
							<li>You know which game you want to play? Search all PlayDates by filtering - select you platform, then start typing your game title</li>
							<li>Found a match? Start messaging by clicking the message button</li>
							<li>No fitting PlayDates available? Create your own! Just click the add PlayDate button</li>
						</ol>
					</div>
				</div>
				<h4>Why?</h4>
				<p>
					January 2015 I (Alex) was surfing reddit and stumbled upon /r/playdate. Lots of gamers where looking for gaming partners, but reddits search functionality as well as the unstructured posts on the subreddit made finding matches really hard.
					PlayDate was born that day. I wanted to make it easier for gamers to find new friends. After about 3 weeks of working on and off on the idea find-playdate.com goes online for the first time.
				</p>
				<div class="row">
					<div class="col-lg-6">
						<h4>Downloadable Images</h4>
						<p><a href="https://www.dropbox.com/sh/w60g1plpjjgof4f/AAC9awF-tgAQzLo7yEE10_Qra?dl=0" target="_blank">Go to the downloadable screenshots and logos</a></p>
					</div>
					<div class="col-lg-6">
						<h4>Press contact</h4>
						<p>kontakt@alexander-reichert.net</p>
					</div>
				</div>
				<h4>Press recognition</h4>
				<div class="row">
					<div class="col-lg-6">
						<h6>Germany</h6>
						<p>
							<a href="http://www.focus.de/digital/internet/surftipp-der-woche/internet-mitspieler-fuers-zocken-finden_id_4983884.html">Focus.de</a>
						</p>
						<p>
							<a href="http://www.swp.de/ulm/themen/computer_medien/games/Nie-mehr-alleine-spielen-muessen;art387063,3472399">SWP.de</a>
						</p>
						<p>
							<a href="http://www.hna.de/netzwelt/mitspieler-fuers-zocken-finden-zr-5588393.html">HNA.de</a>
						</p>
						<p>
							<a href="http://www.mainpost.de/ueberregional/journal/journal/Gegner-gesucht;art498119,8942818">mainpost.de</a>
						</p>
					</div>
					<div class="col-lg-6">
						<h6>South America</h6>
						<p>
							<a href="http://www.genbeta.com/web/cansado-de-jugar-solo-playdate-te-ayuda-a-encontrar-gente-con-la-que-jugar-online">genbeta.com</a>
						</p>
						<p>
							<a href="http://www.tarreo.com/noticias/320917/Sitio-web-te-permite-buscar-citas-para-jugar-en-linea">Tarreo.com</a>
						</p>
					</div>
				</div>

				<h5>YouTube</h5>
				<p>DONG - Do Online Now Guys</p>
				<div class="row">
					<div class="col-lg-4 col-md-5 col-sm-12">
						<p><iframe width="300px" src="https://www.youtube.com/embed/8m3awzBxWpQ#t=2m35s" frameborder="0" allowfullscreen></iframe></p>
					</div>
				</div>
		</div>
	</div>
</div>